{% extends "musicity_db/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.name|as_crispy_field}}
    {{form.duration|as_crispy_field}}
    {{form.genre|as_crispy_field}}
    <div class="row">
        <div class="col-md-6">
            {{form.artist_id|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.album_id|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'track_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back
            </a>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"> Submit <i class="fa-solid fa-database"></i></button>
        </div>
    </div>
</form>
{% endblock content %}