{% extends "musicity_db/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td> Track Name</td>
            <td> Track Length</td>
            <td> Genre</td>
            <td> Artist</td>
            <td>
                <a href="{% url 'track_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for track in track_list %}
            <tr>
                <td>{{track.name}}</td>
                <td>{{track.duration}}</td>
                <td>{{track.genre}}</td>
                <td>{{track.artist_id}}</td>
                <td>
                    <a href="{% url 'track_update' track.id %}" class="btn text-secondary" px-0>
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'track_delete' track.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button class="submit btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}