{% extends "musicity_db/base.html" %}

{% block content %}
<a href="{% url 'home' %}" class="btn">
    <i class="fa-solid fa-arrow-left-long"></i> Back
</a>
<h3 class="display-4 text-center" style="font-size: 2.5em">
    Tracks
</h3>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td> Track Name 
                <a href="{% url 'track_sort_asc' 'name' %}" class="btn">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <a href="{% url 'track_sort_dec' '-name' %}" class="btn">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </td>
            <td> Track Length
                <a href="{% url 'track_sort_asc' 'duration' %}" class="btn">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <a href="{% url 'track_sort_dec' '-duration' %}" class="btn">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </td>
            <td> Genre
                <a href="{% url 'track_sort_asc' 'genre' %}" class="btn">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <a href="{% url 'track_sort_dec' '-genre' %}" class="btn">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </td>
            <td> Artist
                <a href="{% url 'track_sort_asc' 'artist_id' %}" class="btn">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <a href="{% url 'track_sort_dec' '-artist_id' %}" class="btn">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'track_insert' %}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for track in track_list %}
            <tr>
                <td>{{track.name}}</td>
                <td>{{track.duration}}</td>
                <td>{{track.genre}}</td>
                <td>{{track.artist_id}}</td>
                <td>
                    <a href="{% url 'track_update' track.id %}" class="btn text-secondary" px-0>
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'track_delete' track.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button class="submit btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}